@charset 'utf-8';
@import  'core/mixins', 'core/functions', 'core/vars';

.dialog {
	@include fixed(top 30% left 5%);
	@include size(90%, auto);
	margin: 0 auto;
	padding: 30px;
	line-height: 1.75;
	background-color: rgba(0, 0, 0, .66);
	color: #fff;
	border-radius: 8px;
	z-index: 100;
}